@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
}

h1 {
  background: linear-gradient(#33A8DB, #1472B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

h2{
  color: #33A8DB;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

p{
  color: white;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
  color: white;
  width: 600px;
  margin: auto;
  text-align: center;
}


.banner .banner-content .logo {
  background-color: rgba(0, 0, 0, .2);
  width: 268px;
  height: 268px;
  border-radius: 50%;
  margin: auto;
  padding: 16px;
  margin-bottom: 16px;
}

.banner .banner-content .logo img{
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.banner .banner-content p{
  font-size: 20px;
  margin: 16px 0;
}

.banner .banner-content button {
  padding: 16px 32px;
  border-image: linear-gradient(#3BA1CD, #1572B7) 1;
  color: #31A8DD;
  background: transparent;


  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 3px;
}


#course-content{
  text-align: center;
  padding: 80px;
  width: 792px;
  margin: auto;
}

#course-content p{
  color: white;
  padding-top: 24px;
}

#course-content .module{
  background-color: #252525;
  color: white;
  box-shadow: inset 0 2px 10px rgb(0, 0, 0);
  margin: 24px auto;
  padding: 20px 0;
  width: 535px;

  border: 1px solid #33A8DB ;
  border-radius: 10% / 100%;
}

#course-content .module span{
  color: #33A8DB;
}

#transform-world {
  height: 560px;
  background-image: url(./assets/images/woman-code.png);
  background-size: cover;
  background-attachment: fixed;

  border-top: 1px solid #33A8DB;;
  border-bottom: 1px solid #33A8DB;
  padding: 200px;
}

#transform-world p{
  font-size: 40px;
  font-weight: 800;
  color: white;
  text-transform: lowercase;
  text-shadow: 3px 2px 1px #33A8DB;

  width: 244px;
  height: 141px;
}

#professional-challenges{
  text-align: center;
  width: 800px;
  margin: auto;
  padding: 80px 0;
}

#professional-challenges img{
  padding: 35px 0;
}



footer{
  border-top: 1px solid #33A8DB;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  text-align: center;
  padding: 60px 0;
}

footer a{
  text-decoration: none;
  color: #33A8DB;
}